// Colors
$color-black: #000;
$color-white: #fff;

$color-orange: #FF8C21;
$color-blue: #3554A3;

// Grid
$gutter-horizontal: .5rem;
$gutter-vertical: 2rem;

//// Other

//buttons
$btn-border-radius: .2rem;

// items
$item-border-radius: .4rem;
$item-box-shadow: 0 0 .5rem rgba($color-black, 0.3);
