/* big tablet - 1200px */ 
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }
}

/* small tablets - larger tablets */
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }

    section {
        padding: 45px 0;
    }

    h2 {
        margin-bottom: 17.5px;
    }

    .about-desc {
        width: 100%;
    }

    .about-photo {
        width: 75%;
    }

    .about-photo img {
        width: 35%;
    }

    .about-skills {
        width: 80%;
        margin: 30px 10% 0 ;
    }

    .contact-row {
        width: 70%;
    }

    .between-divs {
        margin-top: 27.5px;
    }

    form input[type=text],
    form input[type=email], 
    form textarea,
    form input::-webkit-input-placeholder, 
    form textarea::-webkit-input-placeholder {
        font-size: 100%;
    }

    form input[type=text],
    form input[type=email], 
    form textarea,
    form input:-ms-input-placeholder, 
    form textarea:-ms-input-placeholder {
        font-size: 100%;
    }

    form input[type=text],
    form input[type=email], 
    form textarea,
    form input::-ms-input-placeholder, 
    form textarea::-ms-input-placeholder {
        font-size: 100%;
    }

    form input[type=text],
    form input[type=email], 
    form textarea,
    form input::placeholder, 
    form textarea::placeholder {
        font-size: 100%;
    }
}

/* small phones - small tablets, 481px - 767px */
@media only screen and (max-width: 767px) {
    .main-nav li {
        display: inline-block;
        margin-left: 20px;
    }

    .col {
        width: 100%;
    }

    .col:first-child {
        margin: 1% 0 1% 1.6%;
    }

    .about-photo {
        width: 80%;
    }

    .about-photo img {
        width: 45%;
    }

    .about-skills {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .contact-row {
        width: 80%;
    }
}

/* for smaller phones 0px - 480 px */
@media only screen and (max-width: 480px) {

}