@-webkit-keyframes project-item {
  0% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  100% {
    -webkit-transform: translateY(-1rem) scale(1.05);
            transform: translateY(-1rem) scale(1.05);
    opacity: 0.1;
  }
}

@keyframes project-item {
  0% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  100% {
    -webkit-transform: translateY(-1rem) scale(1.05);
            transform: translateY(-1rem) scale(1.05);
    opacity: 0.1;
  }
}

@-webkit-keyframes project-item__overlay {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes project-item__overlay {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes project-item__overlay--title {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    opacity: 1;
  }
}

@keyframes project-item__overlay--title {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    opacity: 1;
  }
}

@-webkit-keyframes project-item__overlay--learn-more {
  0% {
    -webkit-transform: translateY(1.5rem);
            transform: translateY(1.5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
    opacity: 1;
  }
}

@keyframes project-item__overlay--learn-more {
  0% {
    -webkit-transform: translateY(1.5rem);
            transform: translateY(1.5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
    opacity: 1;
  }
}

.u-text-center {
  text-align: center;
}

body {
  font-size: 22px;
  font-family: 'Raleway', 'Open Sans', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  padding: .5rem;
  display: inline-block;
  border-radius: 0.2rem;
  text-decoration: none;
}

.btn-animated {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-animated:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.btn-animated:active {
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

.btn--blue {
  background-color: #3554A3;
  color: #fff;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn--blue:hover {
  border: 1px solid #FF8C21;
  color: #FF8C21;
  background-color: #fff;
}

.between-divs {
  position: absolute;
  width: 40px;
  margin: 25px 48.5% 0 48.5%;
  padding: 4px 0 0 0;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  font-size: 160%;
  background-color: #3554A3;
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.between-divs:hover {
  background-color: #fff;
  color: #FF8C21;
  border: 1px solid #FF8C21;
}

.project-item {
  position: relative;
  margin: 0 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.project-item:hover .project-item__image {
  opacity: 0.1;
  border: 1px solid #3554A3;
}

.project-item:hover .project-item__overlay {
  -webkit-animation: project-item__overlay 0.3s ease-out;
          animation: project-item__overlay 0.3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.project-item:hover .project-item__overlay--title, .project-item:hover .project-item__overlay--text {
  -webkit-animation: project-item__overlay--title 1s ease-out;
          animation: project-item__overlay--title 1s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.project-item:hover .project-item__overlay--learn-more {
  -webkit-animation: project-item__overlay--learn-more 1s ease-out;
          animation: project-item__overlay--learn-more 1s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.project-item__image {
  opacity: 1;
  display: block;
  height: 200px;
  width: 100%;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.project-item__overlay {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  text-align: center;
  opacity: 0;
  width: 100%;
}

.project-item__overlay--title, .project-item__overlay--text {
  opacity: 0;
  text-align: center;
  margin-bottom: 10px;
}

.project-item__overlay--title {
  color: #3554A3;
  font-weight: bold;
  text-transform: uppercase;
}

.project-item__overlay--text {
  color: #FF8C21;
}

.project-item__overlay--learn-more {
  opacity: 0;
  color: #fff;
  background-color: #3554A3;
  border: 1px solid transparent;
  padding: 7.5px 12.5px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}

.project-item__overlay--learn-more:hover {
  color: #FF8C21;
  background-color: #fff;
  border-color: #FF8C21;
}

.review-item {
  border-radius: 0.4rem;
  background-color: #3554A3;
  padding: 1.2rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 95%;
}

.review-item:hover {
  -webkit-transform: translateY(-1rem) scale(1.03);
          transform: translateY(-1rem) scale(1.03);
}

.review-item__content {
  color: #fff;
}

.review-item__name {
  color: #FF8C21;
  font-weight: bold;
  display: inline-block;
  padding-top: .5rem;
}

.skill-item {
  background-color: #3554A3;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 1.25rem;
  width: 95%;
  margin: 0 auto;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.skill-item:hover {
  -webkit-transform: translateY(-1rem) scale(1.03);
          transform: translateY(-1rem) scale(1.03);
}

.skill-item__icon {
  font-size: 2.5rem;
}

.skill-item__text {
  padding-bottom: 1rem;
}

.skill-item__text--title {
  padding: 1rem 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #FF8C21;
}

.skill-item__text--paragraph {
  font-size: 1.1rem;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 2rem;
}

.row.row-heading {
  text-align: center;
}

.row.row-heading h2, .row.row-heading p {
  padding: 0px 0px 20px 0;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^=col-] {
  float: left;
}

.row [class^=col-]:not(:last-child) {
  margin-right: 0.5rem;
}

.row .col-2 {
  width: calc((100% - 5 * 0.5rem) / 6);
}

.row .col-3 {
  width: calc((100% - 3 * 0.5rem) / 4);
}

.row .col-4 {
  width: calc((100% - 2 * 0.5rem) / 3);
}

.row .col-6 {
  width: calc((100% - 0.5rem) / 2);
}

section {
  padding: 2.8rem 0;
}

.about-desc__photo {
  width: 60%;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 10rem;
}

.about-desc__content--header {
  color: #3554A3;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.about-desc__content--text {
  color: #000;
}

.about-desc__content--text--job-description {
  font-weight: bold;
  color: #FF8C21;
}

.about-desc__content--text--link {
  color: #FF8C21;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.about-desc__content--text--link:hover {
  color: #3554A3;
}

section:nth-child(even) {
  background-color: #F5F5F5;
}

/* HEADING */
h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  font-size: 220%;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-size: 180%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-size: 110%;
}

/* ----------------------------------------- */
/* HEADER */
/* ----------------------------------------- */
header {
  height: 100vh;
  background-color: #1E2638;
  position: relative;
}

header #particles-js {
  height: 100%;
  width: 100%;
  position: relative;
}

header #particles-js canvas {
  z-index: -1;
  top: 0;
  left: 0;
}

header nav {
  position: absolute;
  display: inline-block;
  width: 100%;
  top: 0;
  left: 0;
}

header nav .logo {
  float: left;
  color: #fff;
  padding-top: 12px;
  font-size: 140%;
}

header nav .main-nav {
  float: right;
  list-style-type: none;
  padding-top: 18.5px;
}

header nav .main-nav li {
  display: inline-block;
  margin-left: 40px;
}

header nav .main-nav li a:link,
header nav .main-nav li a:visited {
  text-decoration: none;
  color: #fff;
  padding-bottom: 5px;
  text-transform: uppercase;
}

header nav .main-nav li a:hover,
header nav .main-nav li a:active {
  border-bottom: 2px solid #2980b9;
}

header .hero-text-box {
  position: absolute;
  width: 40%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

header .hero-text-box h1 {
  padding-bottom: 45px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  color: #fff;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #2980b9;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1E2638;
  z-index: 10;
  -webkit-box-shadow: 0 4px 2px #3554A3;
          box-shadow: 0 4px 2px #3554A3;
}

.sticky-nav .logo {
  padding: 5px 0;
  color: #fff;
}

.sticky-nav .main-nav {
  padding-top: 10px;
}

.sticky-nav .main-nav li a:link,
.sticky-nav .main-nav li a:active {
  color: #fff;
}

.sticky-nav .main-nav li a:hover {
  color: #FF8C21;
  border: none;
}

.sticky-nav .main-nav li a.active {
  color: #FF8C21;
}

/* ----------------------------------------- */
/* PROJECTS */
/* ----------------------------------------- */
.modal {
  max-width: 50%;
}

.modal .image-gallery {
  width: 100%;
  position: relative;
}

.modal .image-gallery img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.modal .image-gallery .prev, .modal .image-gallery .next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  border: none;
  background: none;
  color: #3554A3;
  height: 40px;
  width: 40px;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

.modal .image-gallery .prev:hover, .modal .image-gallery .next:hover {
  color: #FF8C21;
}

.modal .image-gallery .prev ion-icon, .modal .image-gallery .next ion-icon {
  width: 100%;
  height: 100%;
}

.modal .image-gallery .prev {
  left: 0;
}

.modal .image-gallery .next {
  left: 100%;
}

.modal .description {
  margin-bottom: 25px;
}

.modal .description h3 {
  font-size: 120%;
  padding-bottom: 10px;
}

.modal .description p {
  font-size: 80%;
  line-height: 140%;
}

.modal .btn-modal {
  color: #fff;
  background-color: #3554A3;
  border: none;
  padding: 7.5px 12.5px;
  text-decoration: none;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  display: inline-block;
}

.modal .btn-modal:hover {
  color: #FF8C21;
  background-color: #fff;
}

/* ----------------------------------------- */
/* ABOUT */
/* ----------------------------------------- */
.about-photo {
  width: 75%;
  margin: 0 auto;
}

.about-photo img {
  width: 60%;
  margin: 0 auto;
  display: block;
  border-radius: 200px;
}

.about-photo p.about-photo-header {
  font-size: 28px;
  text-align: center;
  margin: 20px 0;
  font-weight: 500;
}

.about-photo p {
  font-size: 18px;
  line-height: 150%;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* .skills-list {
    list-style-type: none;
}

.skills-list li {
    display: block;
    padding: 0px 0px 40px 0px;
}

.skills-list li ion-icon {
    font-size: 272%;
    color: blue;
    vertical-align: middle;
}

/* .skills-list li ion-icon[name=logo-html5] {
} */
/* .skills-list li span {
    vertical-align: middle;
}

.skills {
    list-style-type: none;
}

.skill-item {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

.skill-item .skill-text {
    background-color: #FFA049;
    padding: 4px 8px;
    width: 19%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-right: 0;
    float: left;
}

.skill-item .skill-bar {
    float: left;
    width: 79%;
    height: 100%;
    background-color: red;
}

.skill-item .skill-value-html {
    padding: 4px 8px;
    height: 100%;
    width: 75%;
    background-color: #FFA049;
} */
.skill-bar div:first-child {
  background-color: #FF8C21;
  color: #fff;
  text-align: right;
  padding: 5px 5px 5px 0px;
}

.skill-bar .skill-value-html {
  width: 85%;
}

.skill-bar .skill-value-css {
  width: 80%;
}

.skill-bar .skill-value-js {
  width: 75%;
}

.skill-bar .skill-value-sass {
  width: 75%;
}

.skill-bar .skill-value-python {
  width: 70%;
}

.skill-bar .skill-value-mysql {
  width: 60%;
}

/* ----------------------------------------- */
/* CONTACT */
/* ----------------------------------------- */
.contact-row {
  width: 40%;
}

form input[type=text],
form input[type=email],
form textarea {
  width: 100%;
  margin-bottom: 5px;
  border: none;
  background-color: #fff;
  padding: 6px 0px 6px 7.5px;
  color: #000;
  font-size: 90%;
}

form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  color: #000;
  font-size: 90%;
}

form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  color: #000;
  font-size: 90%;
}

form input::-ms-input-placeholder, form textarea::-ms-input-placeholder {
  color: #000;
  font-size: 90%;
}

form input::placeholder, form textarea::placeholder {
  color: #000;
  font-size: 90%;
}

form textarea {
  resize: none;
}

form input[type=submit] {
  display: block;
  margin: 0px auto 30px auto;
  padding: 7.5px 15px;
  font-size: 90%;
  background-color: #464D5C;
  color: #fff;
  border: none;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

form input[type=submit]:hover {
  background-color: #1E2638;
}

*:focus {
  outline: none;
}

/* ----------------------------------------- */
/* FOOTER */
/* ----------------------------------------- */
footer {
  background-color: #1E2638;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-links {
  list-style-type: none;
  width: 60%;
  margin: 70px auto 0px auto;
}

.social-links li {
  display: inline-block;
  margin: 20px 10px 0px 10px;
}

.social-links li ion-icon {
  font-size: 136%;
  color: #fff;
  background-color: #464D5C;
  padding: 10px;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.social-links li ion-icon:hover {
  background-color: #fff;
}

.social-links li ion-icon[name=logo-linkedin]:hover {
  color: #007bb5;
}

.social-links li ion-icon[name=logo-facebook]:hover {
  color: #3b5998;
}

.social-links li ion-icon[name=logo-twitter]:hover {
  color: #55acee;
}

.social-links li ion-icon[name=logo-github]:hover {
  color: #000000;
}

.footer-copyright {
  text-align: center;
  font-size: 72%;
  padding: 20px 0px;
  margin-bottom: 20px;
  color: #6F7480;
}

.footer-copyright .copy-span {
  color: #FF8C21;
}
/*# sourceMappingURL=style.css.map */